* {
    margin: 0;
}

body {
    background-color: rgb(234, 245, 214);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* NAV BAR */

.nav-bar {
    width: 100vw;
    /* border: rgb(255, 21, 0) solid 3px; */
    background-color: rgb(26, 6, 4);
    height: 250px;
}

.nav-title {
    height: 90px;
    width: 450px;
    border-radius: 12px;
    margin: 20px;
    margin-left: 55px;
    background-color: rgb(234, 245, 214);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px inset, rgb(161, 161, 161) 15px 10px 0px -3px;
}

.nav-title h1 {
    padding: auto;
    color: rgb(19, 3, 1);
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.nav-bar a {
    font-size: 2.5em;
    color: rgb(234, 245, 214);
    display: flex;
    display: inline-flex;
    /* border: tomato solid 3px; */
    margin-left: 55px;
    margin-top: 25px;
    cursor: pointer;

}

.nav-bar a:hover {
    color: tomato;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* USER POST */

.post {
    border: solid rgb(26, 6, 4) 7px;
    width: 90vw;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}

.post-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 6, 4);
    height: 90px;
    width: 100%;
}

.header-title, .post-timestamp {
    color: rgb(161, 161, 161);
}

.header-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.post-timestamp {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-weight: lighter;
}

.posted-text {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 35px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */